@font-face {
  font-family: GenJyuuGothicX-Monospace-Heavy;
  src: url("../font/story/GenJyuuGothicX-Monospace-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: GenJyuuGothicX-Monospace-Normal;
  src: url("../font/others/GenJyuuGothicX-Monospace-Normal.ttf") format("truetype");
}
@font-face {
  font-family: TitlingGothicFBComp-Standard;
  src: url("../font/others/TitlingGothicFBComp-Stand.ttf") format("truetype");
}
