@font-face {
  font-family: GenSenMaruGothicTW-Heavy;
  src: url("../font/GenSenMaruGothicTW-Heavy.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: GenJyuuGothicX-Monospace-Heavy;
  src: url("../font/story/GenJyuuGothicX-Monospace-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: GenJyuuGothicX-Monospace-Normal;
  src: url("../font/GenJyuuGothicX-Monospace-Normal.ttf") format("truetype");
}
@font-face {
  font-family: MicrosoftJhengHei;
  src: url("../font/MicrosoftJhengHei.ttf") format("truetype");
}
@font-face {
  font-family: SourceHanSerifTC-Medium;
  src: url("../font/NotoSerifTC-Medium.otf") format("opentype");
}
@font-face {
  font-family: SourceHanSerifTC-SemiBold;
  src: url("../font/NotoSerifTC-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: SourceHanSansTW-Bold;
  src: url("../font/SourceHanSansTW-Bold.ttf") format("truetype");
}
@font-face {
  font-family: SourceHanSansTW-Medium;
  src: url("../font/SourceHanSansTW-Medium.ttf") format("truetype");
}
@font-face {
  font-family: SourceHanSansTW-Regular;
  src: url("../font/SourceHanSansTW-Regular.ttf") format("truetype");
}
@font-face {
  font-family: SourceHanSansTW-Normal;
  src: url("../font/SourceHanSansTW-Normal.ttf") format("truetype");
}
@font-face {
  font-family: TitlingGothicFBComp-Standard;
  src: url("../font/TitlingGothicFBComp-Stand.otf") format("opentype");
}
@font-face {
  font-family: NotoSansCJKtc-Medium;
  src: url("../font/NotoSerifTC-Medium.otf") format("opentype");
}
