@font-face {
  font-family: GenSenMaruGothicTW-Heavy;
  src: url("../font/GenSenMaruGothicTW-Heavy.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: GenJyuuGothicX-Monospace-Heavy;
  src: url("../font/story/GenJyuuGothicX-Monospace-Heavy.ttf")
    format("truetype");
}
@font-face {
  font-family: GenJyuuGothicX-Monospace-Normal;
  src: url("../font/GenJyuuGothicX-Monospace-Normal.ttf") format("truetype");
}
@font-face {
  font-family: TitlingGothicFBComp-Standard;
  src: url("../font/TitlingGothicFBComp-Stand.otf") format("opentype");
}
