p.enlarge {
  color: #181818;
  font-size: 24px;
  @include pad {
    font-size: 30px;
  }
  @include pc {
    font-size: 30px;
  }
}

h1, h2 {
  font-family: GenJyuuGothicX-Monospace-Heavy;
}
h2.enlarge {
  color: #181818;
  font-size: 56px;
  font-weight: 900;
  @include smob {
    font-size: 48px;
  }
  @include pad {
    font-size: 92px;
  }
  @include pc {
    font-size: 116px;
  }
}

.black-article-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 450px;
}