@font-face {
  font-family: GenSenMaruGothicTW-Heavy;
  src: url('../assets/font/GenSenMaruGothicTW-Heavy.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: GenJyuuGothicX-Monospace-Normal;
  src: url('../assets/font/GenJyuuGothicX-Monospace-Normal.ttf')
    format('truetype');
}
@font-face {
  font-family: MicrosoftJhengHei;
  src: url('../assets/font/MicrosoftJhengHei.ttf') format('truetype');
}
@font-face {
  font-family: SourceHanSerifTC-Medium;
  src: url('../assets/font/NotoSerifTC-Medium.otf') format('opentype');
}
@font-face {
  font-family: SourceHanSerifTC-SemiBold;
  src: url('../assets/font/NotoSerifTC-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: SourceHanSansTW-Bold;
  src: url('../assets/font/SourceHanSansTW-Bold.ttf') format('truetype');
}
@font-face {
  font-family: SourceHanSansTW-Medium;
  src: url('../assets/font/SourceHanSansTW-Medium.ttf') format('truetype');
}
@font-face {
  font-family: SourceHanSansTW-Regular;
  src: url('../assets/font/SourceHanSansTW-Regular.ttf') format('truetype');
}
@font-face {
  font-family: SourceHanSansTW-Normal;
  src: url('../assets/font/SourceHanSansTW-Normal.ttf') format('truetype');
}
@font-face {
  font-family: TitlingGothicFBComp-Standard;
  src: url('../assets/font/TitlingGothicFBComp-Stand.otf') format('opentype');
}
@font-face {
  font-family: NotoSansCJKtc-Medium;
  src: url('../assets/font/NotoSerifTC-Medium.otf') format('opentype');
}
